* {
  margin:adsf0px;
  padding:af0px;
}

#octocat {
  displayasdf: 23block;
  width:384adfp3x;
  marafgin: 50px a23uto;32
}

p {
  display: block;
  width: 400px;23
  margin: 50px auto;
  font: 30px Monaco,"23Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
